{% extends "base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

<h1>{% trans "Sign Out" %}</h1>

{% block content %}

<section class="p-4 pt-0 font-monospace mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8 col-sm-12 ">
       <div class="d-flex justify-content-between mb-4 mt-2">
         <h3 class="text-info card-header border-0">Sign out</h3>
       </div>
      <div class="card my-card p-3 bg-light">
        <form method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}
          <p>{% trans 'Are you sure you want to sign out?' %}</p>
            {% if redirect_field_value %}
             <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
          <button type="submit" class="btn btn-danger"> {%  trans 'Sign Out' %}</button>
          <a href="{% url 'profile' user.profile.pk %}" class="btn btn-dark shadow-none px-2 me-2"> {% trans 'back' %} </a>
        </form>
     </div>
    </div>
  </div>
</section>

{% endblock content %}
