{% load crispy_forms_tags %} {% load i18n %} {% load account %} 

{% include "allcss.html" %} 

{% block content %}

<section class="my-4">
  <div class="row justify-content-center font-monospace" >
    <div class="col-lg-5 col-sm-12">
      <div class="card my-card bg-light shadow-lg">
        <h1 class="card-header border-0 d-flex justify-content-center">
          {% trans "Password Reset" %}
        </h1>
        <div class="p-3">
          {% if user.is_authenticated %} {% include "account/snippets/already_logged_in.html" %} {% endif %}

          <p>
            {% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
          </p>

          <form
            method="POST"
            action="{% url 'account_reset_password' %}"
            class="password_reset"
          >
            {% csrf_token %} {{ form|crispy }}
            <input
              class="btn btn-dark mt-3"
              type="submit"
              value="{% trans 'Reset My Password' %}"
            />
          </form>

          <p>
            {% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %} 
{% include "allscripts.html" %}
