{% load crispy_forms_tags %} 
{% load i18n %} 

{% include "allcss.html" %} 

{% block content %}

<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="card my-card bg-light">
    <h1 class="card-header border-0 d-flex justify-content-center">
      {% trans "Sign Up" %}
    </h1>
    <div class="p-4 font-monospace">
      <form
            class="signup"
            id="signup_form"
            method="post"
            action="{% url 'account_signup' %}"
          >
            {% csrf_token %} {{ form|crispy }}
            <input
              type="hidden"
              name="{{ redirect_field_name }}"
              value="{% url 'account_login' %}"
            />
            {% comment %} {% if redirect_field_value %}{% endif %} {% endcomment %}
            <div class="d-flex justify-content-end">
              <button class="btn w-50 btn-dark my-3" type="submit">
                {% trans "Sign Up" %} &raquo;
              </button>
            </div>
      </form>
      <p>
        {% blocktrans %}Already have an account? Then please
        <a href="{{ login_url }}" class="text-info">sign in</a>.{% endblocktrans %}
      </p>
    </div>
  </div>
</div>

{% endblock %}

{% include "allscripts.html" %}
