
<button class="btn shadow-none" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="d-flex">
        <i class="fas fa-bell h4 text-secondary"></i>
        <p class="h5 text-dark">{{ notifications.count }}</p>
    </span>
</button>

<div class="dropdown-menu dropdown-menu-dark dropdown-menu-end p-3">
    {% for notification in notifications %}
        {% if notification.post %}
            {% if notification.notification_type == 1 %}
                <div class="dropdown-item-parent d-flex">
                    <a  class="link-light text-decoration-none" href="{% url 'post-notification' notification.pk notification.post.post_slug %}">
                        <span class="text-info" >@{{ notification.from_user }}</span> liked your post
                    </a>
                    <span class="dropdown-close bg-dark h-25 p-1 rounded-pill me-1" onclick="removeNotification(`{% url 'remove-notification' notification.pk %}`,  `{{ request.path }}`)">&times;</span>
                </div>
            {% elif notification.notification_type == 2 %}
                <div class="dropdown-item-parent d-flex">
                    <a  class="link-light text-decoration-none" href="{% url 'post-notification' notification.pk notification.post.post_slug %}">
                        <span class="text-info">@{{ notification.from_user }}</span> commented on your post
                    </a>
                    <span class="dropdown-close bg-dark h-25 p-1 rounded-pill me-1" onclick="removeNotification(`{% url 'remove-notification' notification.pk %}`,  `{{ request.path }}`)">&times;</span>
                </div>
            {% endif %}
       
        {% elif notification.comment %}
            {% if notification.notification_type == 1 %}
             <div class="dropdown-item-parent d-flex">
                <a class="link-light text-decoration-none" href="{% url 'post-notification' notification.pk notification.comment.post.post_slug %}">
                    <span class="text-info">@{{ notification.from_user }}</span> liked your comment</a>
                <span class="dropdown-close bg-dark h-25 p-1 rounded-pill me-1" onclick="removeNotification(`{% url 'remove-notification' notification.pk %}`,  `{{ request.path }}`)">&times;</span>
             </div>
            {% elif notification.notification_type == 2 %}
              <div class="dropdown-item-parent d-flex">
                <a class="link-light text-decoration-none" href="{% url 'post-notification' notification.pk notification.comment.post.post_slug %}">
                    <span class="text-info">@{{ notification.from_user }}</span> commented on your comment</a>
                <span class="dropdown-close bg-dark h-25 p-1 rounded-pill me-1" onclick="removeNotification(`{% url 'remove-notification' notification.pk %}`,  `{{ request.path }}`)">&times;</span>
              </div>
            {% endif %}

        {% else %}
             <div class="dropdown-item-parent d-flex">
                <a class="link-light text-decoration-none" href="{% url 'follow-notification' notification.pk notification.from_user.profile.profile_slug %}">
                    <span class="text-info">@{{ notification.from_user }}</span> started following you</a>
                <span class="dropdown-close bg-dark h-25 p-1 rounded-pill me-1" onclick="removeNotification(`{% url 'remove-notification' notification.pk %}`,  `{{ request.path }}`)">&times;</span>
            </div>
        {% endif %}
    {% endfor %}
</div>