<div class="dropdown">
    <button class="btn shadow-none" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="d-flex">
            <i class="fas fa-bell h4 text-secondary"></i>
            <p class="h5 text-dark">{{ notifications.count }}</p>
        </span>
    </button>
    <div class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
     {% for notification in notifications %}
        {% if notification.post %}
            {% if notification.notification_type == 1 %}
             <div class="dropdown-item-parent">
                 <a  class="nav-link" href="#">@{{ notification.from_user }} liked your post</a>
                 <span class="dropdown-item-close">&times;</span>
             </div>
            {% elif notification.notification_type == 2 %}
             <div class="dropdown-item">
                <a  class="nav-link" href="#">@{{ notification.from_user }} commented on your post</a>
                <span class="dropdown-item-close">&times;</span>
            </div>
           {% endif %}
       
        {% elif notification.comment %}
           {% if notification.notification_type == 1 %}
             <div class="dropdown-item">
                <a  class="nav-link" href="#">@{{ notification.from_user }} liked your comment</a>
                <span class="dropdown-item-close">&times;</span>
             </div>
           {% elif notification.notification_type == 2 %}
              <div class="dropdown-item">
                <a class="nav-link" href="#">@{{ notification.from_user }} commented on your comment</a>
                <span class="dropdown-item-close">&times;</span>
             </div>
            {% endif %}

        {% else %}
                <div class="dropdown-item-parent">
                    <a href="#">@{{ notification.from_user }} started following you</a>
                    <span class="dropdown-item-close">&times;</span>
                </div>
        {% endif %}
     {% endfor %}
    </div>
</div>