{% if profile.user == request.user %}

{% else %}
   <div class="d-flex mt-2">
      <p class="mb-1 text-dark">
         <span class="text-secondary h5">followers</span>
         <p class=px-3>({{ number_of_followers }})</p>
      </p>
      <p class="mb-1 text-dark">
         <span class="text-secondary h5">following</span>
         <p class=px-3>(0)</p>
      </p>
      <form hx-post="{% if is_following %}{% url 'remove-follower' profile.pk %}
            {% else %}{% url 'add-follower' profile.pk %}{% endif %}" hx-swap="outerHTML">
     
         {% csrf_token %}
         {% if is_following %}
            <button class="btn btn-danger">unfollow</button>
         {% else %}
            <button class="btn btn-info">follow</button>
         {% endif %}
      </form>
   </div>

{% endif %}


