{% if profile.user == request.user %}

{% else %}
   {% if is_following %}
    <form method="post"  action="{% url 'remove-follower' profile.profile_slug %}">
        {% csrf_token %}
        <button class="btn btn-danger rounded-pill mb-2" type="submit">unfollow</button>
    </form>
   {% else %}
      <form   method="post"  action="{% url 'add-follower' profile.profile_slug %}">
         {% csrf_token %}
            <button class="btn btn-info rounded-pill mb-2" type="submit">follow</button>
      </form>
   {% endif %}
   
{% endif %}
