{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block auth %}

<section class="p-4">
  <div class="container p-5">
    <div class="offset-lg-3">
       <div class="card-header mb-2 w-75">
          <h3 class="text-center fst-italic">Login</h3>
       </div>
      <div class="card h-100 w-75 p-4">
        <form method="post">
          {% csrf_token %} 
            {{ form|crispy }}

          <a class="btn text-light btn-dark mt-3" type="submit">login</a>
        </form>
        Dont have and account Yet..??
        <div class="d-flex justify-content-between mt-2">
          <a class="text-dark" href="{% url 'register' %}">SignUp</a>
          <a class="text-dark" href="#">Password Reset</a>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock auth %}