<nav class="navbar navbar-expand-lg navbar-light bg-light p-lg-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><span class="h2"><strong class="text-info">Manucho<span class="text-dark">social</span></strong></span></a>
 
      <div class="row justify-content-lg-center">
      <form class="d-flex">
          <input class="searchinput-box form-control rounded-pill my-2" type="search" placeholder="Search" aria-label="Search">
        </form>
      </div>
     <div class="row">
      <ul class="navbar-nav mb-0 text-sm-start col-12 position-relative">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#"><span class="h4 text-dark"><i class="fab fa-facebook-messenger text-secondary"></i></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><span class="text-dark"><i class="far h4 fa-plus-square text-secondary"></i></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link"><i class="fas fa-bell h4 text-secondary"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link"><i class="fa fa-user h4 text-secondary"></i></a>
          </li>
      </ul>
    </div>
  </div>
</nav>