<nav class="navbar navbar-expand-lg navbar-light bg-light overflowX">
  <div class="container-fluid">
   
    <a class="navbar-brand"  {% if user.is_authenticated %}
        href="{% url 'home' %}" {% else %}  href="{% url 'landing' %}" {% endif%}>
      <span class="h2">
        <strong class="text-info">Manucho<span class="text-dark">social</span>
        </strong>
      </span>
    </a>

    <button id="toggler" class="navbar-toggler"  data-bs-toggle="collapse" data-bs-target="#navbarScroll" >
      <i id="toggle-icon" class="fa fa-bars" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarScroll">
   
      <ul class="navbar-nav mr-auto  my-2">
       <div class="d-flex d-inline ">

            <form class="d-flex me-3 px-2" method="GET" action="{% url 'search' %}">
              <input class="searchinput-box form-control rounded-pill my-2" 
                  type="text" name="query" value="{{ request.GET.query }}" placeholder="Search">
            </form>
              <li class="nav-item px-2">
                <a class="nav-link" aria-current="page" href="{% url 'home' %}"><span class="h5 text-dark">
                  <i class="fa fa-home" aria-hidden="true"></i></span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#"><span class="h4 text-dark">
                  <i class="fab fa-facebook-messenger text-secondary"></i></span>
                </a>
              </li>

              <li class="nav-item dropdown">
                  <button class="btn shadow-none" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="far h4 fa-plus-square "></i>
                  </button>
                    <ul class="dropdown-menu dropdown-menu-dark dropup">
                      <li><a class="dropdown-item text-light" href="{% url 'create-post' %}">Create Post</a></li>
                    </ul>
              </li>
              <li class="nav-item ">
                <a class="nav-link"><i class="fas fa-bell h4 text-secondary"></i></a>
              </li>
              <li class="nav-item dropdown">
                  <button type="button" class="btn shadow-none" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="far fa-user h4 text-dark"></i>
                  </button>
                    <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
                      <li><a class="dropdown-item text-light" href="{% url 'account_logout' %}">logout</a></li>
                      <li><a class="dropdown-item text-light shadow-none" href="{% url 'profile' user.profile.pk %}">
                        profile
                      </a></li>
                      </ul>
              </li>
        </div>
      </ul>
    </div>
  </div>
</nav>