<div class="card my-card bg-light g-5 mb-3"> 
    <div class="card-title m-2">
    <div class="d-flex d-flex justify-content-between mb-1">
        <a href="{% url 'profile' post.author.profile.pk %}" class="text-decoration-none text-secondary">
        <img class="img img-fluid mt-3" src="{{ post.author.profile.profile_image.url }}" alt="user-image">
            <span class="h5 my-4 px-1">{{ post.author }}</span>
        </a>
        <button class="btn"><i class="fas fa-ellipsis-v"></i></button>
    </div>
    </div>
    
    <img src="{{ post.get_post_image }}" class="img-fluid me-sm-0 m-lg-0 p-0 rounded" alt="...">
    
    <div class="mt-3 text-secondary">
        <div class="d-flex justify-content-evenly">
            <div class="d-flex">
                {% include "like_form.html" %}
            </div>
            <div>
                <button class="btn border-none"><i class="fa h4 fa-comment text-secondary" aria-hidden="true"></i></button>
                <span class="h5">{{ post.comments.all.count }}</span>
            </div>
            <div>
            <button class="btn"><i class="far h4 text-secondary fa-paper-plane px-5"></i></button>
            </div>
        </div>
        <h5 class="font-wieght-bold p-3">{{ post.caption }}</h5>
    </div>
    <span class="position-relative">
        <div class="mt-0 mb-2">
            
        </div>
        <a href="{% url 'post-detail' post.pk %}" class="stretched-link"></a>
    </span>
</div>