<div class="mt-0 mb-2">
  <div class="comments text-secondary font-monospace">

    {% for comment in comments %}
      {% if comment %}
        <p class="text-dark">{{ comment.author }}:  {{ comment }} 
            <span class="text-secondary">{{ comment.commented_on|timesince }} ago</span>
        </p>
        <span class="d-flex">
          {% include "partials/comment_like_form.html" %}
            {% if request.user == comment.author  %}
              <a class="btn shadow-none " href="{% url 'delete-comment' post.post_slug comment.pk %}">
                  <i class="fas fa-trash-alt text-danger"></i>
              </a>
              <a class="btn shadow-none " href="{% url 'edit-comment' post.post_slug comment.pk %}">
                  <i class="fas fa-edit text-info"></i>
              </a>
            {% endif %}
            <button class="btn shadow-none border-none text-secondary">Reply</button>
          </span>
        {% endif %}
    {% empty %}
        <div class="px-5"><h4>No comments</h4> be the first to comment..</div>
    {% endfor %}
  </div>
</div>