.searchinput-box {
    width: 450px;
    height: 40px;
    border: hidden;
    background-color: rgb(205, 215, 219);
}

.form-control:focus {
    background-color: rgb(205, 215, 219);
    border: none;
}

.img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.main-post-image {
    width: 617px;
    height: 600px;
    object-fit: cover;
    border: none;
}

.comments {
    max-height: 40px; 
    overflow-y: hidden;
    background-color: rgb(247, 250, 252);
}

.comment-input{
    width: 500px;
    background-color: rgb(205, 215, 219);
}

.comment-flex {
    display: flex;
    justify-content:flex-start;
    font-size: 20px;
}

.comment-flex  input {
    margin-left: 10px;
}

.like-caption {
    display: flex;
    justify-content:flex-start;
    font-size: 20px;
}

.like-caption span {
    margin-right: 10px;
}

.card {
    border: none;
}

@media (max-width: 768px){
    .container {
        margin: 0px;
        padding: 0px;
    }
    .card {
        margin-right: 0px;
        padding-left: 0px;
        width: 100%;
    }
    .searchinput-box {
        width: 260px;
    }
    .main-post-image {
        width: 387px;
        height: 363px;
    }
    .comment-input {
        width: 300px;
    }
}

@media (max-width: 400px) {
    .main-post-image {
        width: 310px;
        height: 363px;
    }
    .comment-input {
        width: 230px;
    }
    .like-caption {
        display: flex;
        justify-content:flex-start;
        font-size: 15px;
    }
    .navbar {
        padding: 0;
    }
    
}

