{% extends 'base.html'%}
{%  load crispy_forms_tags %}

{% block content %}

<section class="p-4 pt-0 font-monospace mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8 col-sm-12">
       <div class="d-flex justify-content-between mb-4 mt-2">
         <h3 class="text-info card-header border-0">Update Profile</h3>
         <a href="{% url 'profile' object.pk %}" class="btn card-header h4 shadow-none border-0">
           <i class="fa fa-arrow-left"></i><span class="h5"> Back to Profile</span>
         </a>
       </div>
       <div class="card my-card p-3 bg-light">
        <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
           {{ form|crispy }}
            <button type="submit" class="btn shadow-none btn-success mt-4 rounded-pill px-5">Edit</button>
        </form>
     </div>
    </div>
  </div>
</section>

{% endblock content %}